html{
    background: black;
}

body{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
}

img{
    width: 300px;
    height: 300px;
    margin-top: 16rem;    
}

a:link, a:hover{
    text-decoration: none;
}

.box-container{
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.buy{
    background-color: rgba(255, 255, 255, 0.1);
    color: wheat;
    text-align: center;
    border-radius: 10px;
    border-width: 2rem;
    padding : 1rem;
    width: 200px;
    margin-left: 2rem;
}
/* .buy:hover::after{
    content: BUY;

} */

.buy:before {
    content: 'BUY';
  }

.buy:hover:before {
    content: '3 ETH';
  }


.win-price{
    text-align: center;
    font-weight: bold;
    font-size: large;
    margin-top: -1rem;
}


