.content-table{
  background-image: url(../assets/home.png);
  background-position: center;
  height: 100vh;
  width: 100%;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/*
 *
 * Frame of Games
 *
 */ 

.game-list{
  color:black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 13%;
  }

/*
 *
 * Handling games' icons
 *
 */
 .hoverGames button{
  background-color: black;
  background-position: center;
  display: block;
  border-radius: 25px;
  width: 350px;
  height: 450px;
}

.hoverGames button:hover {
  cursor: pointer;
}
/*
 *
 * Roulette Game - Button Design
 *
 */
#rouletteGame{
  background-image: url("../assets/roulette.png");
  background-repeat: no-repeat;
  background-size: 450px 600px;
 
}
/*
 *
 * Box Game - Button Design
 *
 */

#boxGame{
  background-image: url("../assets/button-box-purple.png");
  background-repeat: no-repeat;
  background-size: 450px 600px;
}

#boxGame:hover{
  background-image: url("../assets/box-info_2.png");
 /* background-size:100%;*/
  background-repeat: no-repeat;
  /*background-position: absolute;*/
  background-size: 380px 550px;
  border: none;
  border-radius: 0%;
  margin-top: -60px;
}

#boxGame::before{
  background-image: url("../assets/box.png");
}
/*
 *
 * Slot Game - Button Design
 *
 */

 #slotGame{
  background-image: url("../assets/slot.png");
  background-repeat: no-repeat;
  background-size: 450px 600px;
}

/*
 *
 * Arrow Style 
 *
 */

.arrow-container{
  width: 85px;
  height: 85px;
  margin: 0 auto;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
}

.arrow-1{
  width: 100px;
  height: 100px;
  background: white;
  opacity: 0;
  border-radius: 50%;
  position: absolute;
}

.arrow-2{
  width: 60px;
  height: 60px;
  background:white;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  display: table;
}

.arrow-2:before{
  width: 52px;
  height: 52px;
  content: "";
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
}

.arrow-2 i.fa{
  font-size: 30px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: black;
}

/*
 *
 * Custom Animation for Arrow 
 *
 */

.animated.hinge {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.4, .4, .4);
            transform: scale3d(.4, .4, .4);
  }

  50% {
    opacity: 0.5;
  }
  
  100% {
    opacity: 0;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.4, .4, .4);
            transform: scale3d(.4, .4, .4);
  }

  50% {
    opacity: 0.5;
  }
  
  100% {
    opacity: 0;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
  animation-iteration-count: infinite;
}