body {
    background-color: rgba(0,0,0,1);
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100%;

}

#box-container{
    width: 600px;
    height: 675px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    margin-left: -1.5rem;
    margin-top: 1.5rem;
}

#forge-keys-container{
    width: 758px;
    height: 360px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    margin: -9rem 3rem;
}

.main-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }

.patternlock{
    display: flex;
    flex-direction: row;
}
.swiper {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 75%; 
    transform: translate(-50%, -50%);
}
.swiper .swipe-btn {
    cursor: pointer;
    margin-left: 1.8rem;
}

.dotted-line circle {
    fill: wheat;
    margin-top: 4rem;
}

.patternlock button{
    display: block;
    background-image: linear-gradient(to bottom right,#FF00D8, #00EAFD);
    padding: 14px 20px;
    border-radius: 20%;
    margin: 0.3rem 0.3rem;
}


#lock2, #lock3{
    margin-top: -3rem;
} 

#lock,#lock2, #lock3 {
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    min-height: 100px;
}
.triplets {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pin-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1.8rem;
    margin-right: 6.7rem;
}

#pin-box2, #pin-box3, #forge-keys-container{
    opacity: 0.5;
}

#swipe-end{
    transform: translate(6%, 23%);
    height: 290px;
    width: 290px;
}

#cross1, #cross2, #cross3{
    width: 12px; 
    height: 12px;
    margin-right: 2rem;
    margin-left:2rem;
} 

#polygon1, #polygon2, #polygon3{
    width: 40px;
    height: 28px;
    margin-right: 2rem;
}

#key1, #key2, #key3{
    width: 180px; 
    height: 100px;
    margin-left: -0.2rem; 
}

#code1, #code2, #code3{
    color: white;
    white-space: nowrap;
    transform: translate(175px, 570%);
    position: absolute;
}

#pinCode1, #pinCode2, #pinCode3{
    color: white;
    white-space: nowrap;
    transform: translate(220px, 570%);
    position: absolute;
    display:inline;
}
  