html, body {
    min-height: 100vh;
}

body {
    background-color: rgba(0,0,0,1);
}

.container {
  grid-area: pin-code;
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100vh;

}

#box-container{
    width: 600px;
    height: 800px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    margin-left: -1.5rem;
}

#forge-keys-container{
    width: 660px;
    height: 360px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    margin: -9rem 3rem;
}

.main-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "pin-code swiper-area"
        "footer footer";
    text-align: center;
  }

.patternlock{
    display: flex;
    flex-direction: row;
}
.swiper {
    grid-area: swiper-area;
    text-align: center;
    height: 100vh;
    position: absolute;
    top: 75%;
    left: 75%; 
    transform: translate(-50%, -50%);
    /* width: 400px; */
}
.swiper .swipe-btn {
    cursor: pointer;
    margin-top: 6rem;
    margin-left: -25.5rem;
}

/* .swiper .swipe-btn .circle {
    fill: #ed7000;
    margin-top: 4rem;

}
.swiper .swipe-btn .arrow {
    stroke: #ed7000;
    stroke-width: 1px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    fill: #f4ece1;
    margin-top: 4rem;

} */
/* .swiper .swipe-end {
    /* margin-top: -23%;
    margin-left: 50%;  
    transform: translate(25%, 54%);
    margin-top: 4rem;

} */
.swiper .dotted-line circle {
    fill: wheat;
    margin-top: 4rem;
}

.patternlock button{
    display: block;
    background-image: linear-gradient(to bottom right,#FF00D8, #00EAFD);
    padding: 14px 20px;
    border-radius: 20%;
    margin: 0.3rem 0.3rem;
}


#lock2, #lock3{
    margin-top: -3rem;
} 

#lock,#lock2, #lock3 {
    width: 100%;
    height: 100%;
    padding-bottom: 12vh;
    min-height: 100px;
}
.triplets {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pin-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1.8rem;
    margin-right: 6.7rem;
}

.pin-box img{
    margin-top: 5rem;

}

#pin-box2, #pin-box3{
    opacity: 0.5;
}

footer {
    text-align: center;
    position: relative;
    margin-top: 70px;
    bottom:10px;
    width:100%;
    color: #f1f1f1;
  }
