@media only screen and (max-width: 800px) {

  /*
   *
   *HOME PAGE 
   *
   */
    .game-list{
        display: column flex;
        justify-content: space-around;
        margin-top: 5%;
    }

    .game-list div{
        margin-top: 40px;
    }

    .hoverGames button:hover {
        width: 260px;
        height: 355px;
        margin-top: 0px;
      }

    .hoverGames button{
        width: 250px;
        height: 350px;
    }

    /*
     *
     * BOX-SELECTION PAGE 
     *
     */
    .box-game-body{
      display: flex;
      flex-direction: column; 
      flex-wrap: wrap;
      justify-content: space-around;
  }

    .box-game-body .box-container{
      width: 350px;
      height: 350px;
      border-radius: 25px;
      margin-left: 4rem;
  }

  #yellow-box-container{
    margin-top: 16rem;
    margin-bottom: -8rem;
  }
  #blue-box-container{
    margin-top: -16rem;

  }
    .box-game-body #logo{
      width: 60px;
      height: 95;
  }

  .box-game-body footer{
        display: none;

  }

  .win-price{
    margin-right: 2.5rem;
  }
  
    
    /*
     *
     * GAMEPLAY PAGE 
     *
     */
     #logo{
       visibility: hidden;
     }
     #box-game-body{
      overflow: visible;
  }

    #box-container{
      width: 500px;
      height: 695px;
      margin-left: 1rem;
      }

    #forge-keys-container{
      width: 500px;
      height: 720px;
      margin: 33rem -24rem;
    }

    #box-game-body footer{
      bottom: -850px;
      margin-top: 1.2rem;
    } 

    #polygon1, #polygon2, #polygon3{
      margin-left: 1.5rem;
    }

    #swipe-end{
      height: 220px;
      width: 220px;
      margin-top: 1rem;
  }
    .swipe-btn{
      height: 180px;
      width: 180px;
      margin-left: 5.5rem;
      margin-top: 6rem;
    }

    #svg-rot{
      transform: rotate(90deg);
      margin-top: 3.5rem;
      margin-left: 8rem;
      display: block;
    }

    #forge-keys-container p{
      white-space: nowrap;
      margin-left: 5rem;
    } 

    #betPrizeTable{
      margin-top: 60rem;
      margin-left: -8.5rem;
      position: absolute;
    }

    #popup{
      width: 490px;
      height: 315px;
      position: absolute;
      left: -390px;
      margin-top: 860px;
  }
}
